/* ==================================================================
   Colors
   ================================================================== */

:root {
  --colors: '../../styles/colors.css';

  --color-selected: rgb(41, 167, 255);

  --color-grey: rgb(168, 168, 168);                           /* #929292 */
  --color-dark-grey: rgb(112, 112, 112);                      /* #707070 */
  --color-black: rgb(33, 33, 33);                             /* #212121 */
  --color-super-black: rgb(0, 0, 0);                          /* #000000 */
  --color-light-grey: rgb(243, 243, 243);                     /* #F4F4F4 */
  --color-white: rgb(255, 255, 255);                          /* #ffffff */

  --color-black-shadow: rgba(0, 0, 0, .25);
}
